@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --corPreta: #242424;
  --corVermelha: #8a0d0d;
  --corBranca: #ffffff;
  --corCinza: #777474;
}

body {
  background-color: var(--corBranca);
}

main {
  color: var(--corPreta);
}

.navbar {
  height: 80px;
}

.navbar a {
  color: white !important;
  text-decoration: none;
  font-size: 20px;
}

.nav-link {
transition: all 0.2s;
margin-left: 8px;
border-radius: 100px;
}

.nav-link:hover {
background-color: rgb(0, 164, 252);
border-radius: 6px;
}

.logo-aranha {
  border: 1px solid var(--corBranca);
  border-radius: 100%;
  padding-top: 10px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

#banner {
  background-image: url("../img/img2.jpg");
  height: calc(100vh - 56px);
  background-size: cover;
  background-attachment: fixed;
  color: var(--corBranca);
  background-position: center;
}

#banner h1 {
  font-size: 8vw;
}

#banner p {
  font-size: 4vw;
}



button:hover {
  animation: list-transition2 0.1s both;
}

.btn button {
  width: 60vw;
  max-width: 250px;
  height: 10vw;
  max-height: 70px;
}

ul.sessao-site {
  padding-inline-start: 0;
}

.sessao-site li {
  font-size: 1.5rem;
  list-style: none;
  transition: all 0.5s;
  margin-bottom: 10px;
}
/* listas e ancoras das section */
.sessao-site li a {
  text-decoration: none;
  color: var(--corPreta);
}

.sessao-site li:hover {
  animation: list-transition1 0.5s both;
}

@keyframes list-transition1 {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(2.4);
  }
}

  @keyframes list-transition2 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

p {
  font-size: large;
  text-align: justify;
}

h2,
h4 {
  font-size: xx-large;
  font-family: "Manrope", sans-serif;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

section h2 {
  margin: 60px 0px;
}

iframe {
  width: 60vw;
  height: 33vw;
}

.video {
  border-radius: 10px;
}
/* 
.card-game img {
  height: 21rem;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.image-container {
  height: 21rem;
  width: 100%;
  border: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.card-game img:hover {
  transform: scale(1.1);
} */

footer {
  padding: 20px;
  background: var(--corVermelha);
  color: white;
  width: 100%;
}

footer h3 {
  color: white;
}

footer strong {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
legend {
  text-align: center;
  margin-top: 10px;
}
label {
  display: block;
}

input {
  border-radius: 10px;
  padding-left: 6px;
}

select {
  border-radius: 10px;
  height: 26px;
}

div#radio {
  margin: 10px;
}

.labelradio {
  display: inline;
  font-size: small;
}

@media screen and (min-width: 768px) {
  button {
    width: 40vw;
    max-width: 250px;
    height: 10vw;
    max-height: 65px;
    
  }

  .submit {
    margin-right: 15px;
  }
 
  p {
    font-size: x-large;
  }

  h2,
  h4 {
    font-size: xxx-large;
    font-family: "Manrope", sans-serif;
  }

  #banner h1 {
    font-size: 8vw;
  }

  #banner p {
    font-size: 2.5vw;
  }

  article {
    min-height: 400px !important;
  }
}
