 * {
  box-sizing: border-box;
  
} 



header{
    display: flex;
    justify-content:end;
}

#logo {
  position: fixed;
  width: 5vw;
}

a {
    text-decoration: none;
    color: white;
}

h1.one {
    animation: deslizar1 5s normal;
}

h1.two {
    animation: deslizar2 5s normal;
    
}

h1.tree {
    animation: zoonOut 5s normal;
}

header button{
    width: 10vw;
    height: 5vh;
    background-color: red;
    transition: all 0.81s;
    border: none;
    border-radius: 5px;
    
}

header button:hover {
    background-color: rebeccapurple;
    color: white;
    font-size: x-large;
}
    
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(109, 49, 170);
  width: 60%;
  height: 100%;
  border-radius: 10px;
  padding: 2%;
}

img {
  margin: 10px;
  width: 200px;
  transition: all 1s;
}

img.one:hover {
  animation: animationOne 0.8s both;
}

img.two:hover {
  animation: animationTwo 0.4s both;
}

img.tree:hover {
    animation: animationTree 0.45s both;
  }

@keyframes animationOne {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: scale(1.3);
  }
}

@keyframes animationTwo {
   0% {transform:rotate(360deg)}
 
}

@keyframes animationTree {
    0% {transform: translatey(0px)}
    100% {transform: translatey(-20px)}
}

@keyframes deslizar1 {
    0% {transform: translatex(5000px)}
    20% {transform: translatex(-10px)}
    30% {transform: translatex(5px)}
}
@keyframes deslizar2 {
    0% {transform: translatex(-5000px)}
    20% {transform: translatex(10px)}
    30% {transform: translatex(-5px)}
}

@keyframes zoonOut {
    0% {transform: scale(200)}
    10% {transform: scale(0)}
    15% {transform: scale(1)}
    
}