
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ee0e29;
    color: white;
}

main {
    text-align: center;
    padding: 0 20vw;
}


main img {
    width: 150px;
}

fieldset  {
    margin-top: 15px;
    border: 1px solid;
    border-radius: .5rem;
}


form textarea {
    resize: none;
}

label, select{
    display: block;
}

input, textarea {
    margin-bottom: 15px;
}

select {
    margin: 0.5vh auto 1.5vh;
}

button {
    margin: 2vh 0.5vw;
    padding: 2vh 4vw;
    border-style: none;
    color: #ee0e29;
    font-size: 1rem;
}

.opcionais label, .pagamento label {
    display: inline-block;
    margin-right: .50rem;
}