* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-areas:
    "h h h"
    "a m m";
}

header {
  background-color: rgb(92, 121, 120);
  grid-area: h;
  height: 8vh;
}

aside {
  background-color: rgb(1, 63, 62);
  grid-area: a;
  height: 92vh;

  font-size: xx-large;
  display: flex;
  justify-content: center;

  padding-top: 2rem;
}

nav li {
  list-style: none;
  margin-bottom: 0.5rem;
}

li a {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.5s;


}

li a:hover {
  background-color:rgb(0, 170, 168);
  padding-left: 3vw;
  padding-right: 1vw;
  color: rgb(1, 63, 62);
 

}

li a:focus {
    background-color:rgb(0, 170, 168);
  padding-left:4vw;
  padding-right: 1vw;
  color: rgb(1, 63, 62);
}

main {
  grid-area: m;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}
